body {
    background-color: #999;
}

.simplebar-track.simplebar-vertical {
    background-color: rgb(93, 93, 93);
    width: 8px;
    border-radius: 5px;

}

.simplebar-content-wrapper {
    padding-right: 30px;
}

.simplebar-scrollbar:before {
    position: absolute;
    content: '';
    background: rgb(255, 255, 255);
    border-radius: 7px;
    left: 2px;
    right: 2px;
    opacity: 1;
}

#app {
    display: grid;
    grid-template-rows: 2rem auto;
    height: 100vh;
}